body {
    display: flex;
    flex-direction: column;
}

.book {
    flex: 1;
    height: auto;
}

.page-inner {
    padding-top: 70px;
    padding-bottom: 120px;
}

.navigation {
    top: -60px;
}

.markdown-section a {
    color: #3f3fdf;
    border-bottom: 1px solid rgba(63, 63, 223, 0.2);
    text-decoration: none;
    transition: 150ms ease-in-out;
    transition-property: color, border-color;
}

.markdown-section a:hover,
.markdown-section a:active,
.markdown-section a:focus {
    color: #ff5f00;
    border-bottom: 1px solid rgba(255, 95, 0, 0.4);
    text-decoration: none;
}

a.plugin-anchor,
a.plugin-anchor:hover,
a.plugin-anchor:active,
a.plugin-anchor:focus {
    border: none;
}

.markdown-section h1 {
    line-height: 1.3;
}

.markdown-section h2 {
    font-size: 1.6em;
    line-height: 1.3;
}

.markdown-section h3 {
    font-size: 1.2em;
    line-height: 1.4;
}

.markdown-section h4 {
    font-size: 1em;
    line-height: 1.4;
}

.markdown-section h5 {
    font-size: .8em;
    line-height: 1.4;
}

.markdown-section p {
    line-height: 1.5;
}

.markdown-section pre {
    background: #f5f3f1;
    line-height: 1.3;
}

.codetabs .codetabs-header .tab {
    padding: 3px 10px;
    font-size: 14px;
    color: #3f3fdf;
    opacity: 1;
}

.codetabs .codetabs-header .tab:hover {
    color: #ff5f00;
}

.codetabs .codetabs-header .tab.active {
    color: #ff5f00;
    border-bottom-color: #ff5f00;
}

.callout {
    padding-top: 10px;
    border: none;
}

.callout h4 {
    margin-bottom: 0.2em;
}

.callout-warning {
    background-color: #fffde4;
}

.callout-warning h4 {
    color: #ff5f00 !important;
}

.callout-info {
    border: 1px solid #a3d6f4 !important;
}

.callout-info h4 {
    color: #48aee9 !important;
}

.callout-success {
    border: 1px solid #9bdf8a !important;
}

.book-summary {
    padding-bottom: 50px;
}

.book-summary ul.summary li.active>a {
    color: #ff5f00;
}

.book-summary ul.summary li.header {
    padding-top: 25px;
    padding-left: 30px;
    font-weight: bold;
    font-size: 16px;
    color: #222;
    text-transform: none;
}

.book-summary ul.summary li a,
.book-summary ul.summary li span {
    padding: 7px 15px;
    text-overflow: initial;
    overflow: visible;
    white-space: normal;
    transition: color 150ms ease-in-out;
}

.book-summary ul.summary li a:hover {
    color: #ff5f00;
    text-decoration: none;
}

.book .book-summary .chapter {
    position: relative;
}

.book .book-summary span .exc-trigger {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 9px 0 0 12px;
    cursor: pointer;
}

.book .book-summary a .exc-trigger {
    top: 0;
    left: 0;
    padding: 9px 10px 7px 12px;
    cursor: pointer;
}

.book-summary ul.summary li a.gitbook-link {
    margin-top: 60px;
    color: #bbbbbb;
}

.book-header {
    height: 60px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    text-align: center;
}

.book-header .btn {
    font-size: 18px;
}

.summary li.divider {
    display: none
}

.summary > li:last-child {
    display: none
}

.logo {
    width: 90px;
    height: 45px;
    margin-right: 44px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 100%;
    background-image: url('../../images/wallarm_logo-en.svg?v=1');
    display: inline-block;
}

.viewer-canvas > img {
    background-color: #FFFFFF;
}

.viewer-toolbar > ul > li.viewer-reset,
.viewer-toolbar > ul > li.viewer-prev,
.viewer-toolbar > ul > li.viewer-play,
.viewer-toolbar > ul > li.viewer-next,
.viewer-toolbar > ul > li.viewer-flip-horizontal,
.viewer-toolbar > ul > li.viewer-flip-vertical {
	display: none;	
}

.markdown-section img {
	cursor: zoom-in;
}

.video-wrapper {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
  }
  .video-wrapper > iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }