[submodule "docs/latest/api-firewall/api-firewall"]
	path = docs/latest/api-firewall/api-firewall
	url = https://github.com/wallarm/api-firewall
[submodule "docs/latest/installation/oob/terraform-module/terraform-aws-wallarm"]
	path = docs/latest/installation/oob/terraform-module/terraform-aws-wallarm
	url = https://github.com/wallarm/terraform-aws-wallarm
[submodule "docs/latest/installation/cloud-platforms/aws/terraform-module/terraform-aws-wallarm"]
	path = docs/latest/installation/cloud-platforms/aws/terraform-module/terraform-aws-wallarm
	url = https://github.com/wallarm/terraform-aws-wallarm
[submodule "docs/latest/installation/load-balancing/terraform-module/terraform-aws-wallarm"]
	path = docs/latest/installation/load-balancing/terraform-module/terraform-aws-wallarm
	url = https://github.com/wallarm/terraform-aws-wallarm