[submodule "docs/latest/installation/oob/terraform-module/terraform-aws-wallarm"]
	path = docs/latest/installation/oob/terraform-module/terraform-aws-wallarm
	url = https://github.com/wallarm/terraform-aws-wallarm
[submodule "docs/latest/installation/cloud-platforms/aws/terraform-module/terraform-aws-wallarm"]
	path = docs/latest/installation/cloud-platforms/aws/terraform-module/terraform-aws-wallarm
	url = https://github.com/wallarm/terraform-aws-wallarm
[submodule "docs/latest-ja/installation/oob/terraform-module/terraform-aws-wallarm"]
	path = docs/latest-ja/installation/oob/terraform-module/terraform-aws-wallarm
	url = https://github.com/wallarm/terraform-aws-wallarm
[submodule "docs/latest-ja/installation/cloud-platforms/aws/terraform-module/terraform-aws-wallarm"]
	path = docs/latest-ja/installation/cloud-platforms/aws/terraform-module/terraform-aws-wallarm
	url = https://github.com/wallarm/terraform-aws-wallarm
[submodule "docs/latest-tr/installation/cloud-platforms/aws/terraform-module/terraform-aws-wallarm"]
	path = docs/latest-tr/installation/cloud-platforms/aws/terraform-module/terraform-aws-wallarm
	url = https://github.com/wallarm/terraform-aws-wallarm
[submodule "docs/latest-tr/installation/oob/terraform-module/terraform-aws-wallarm"]
	path = docs/latest-tr/installation/oob/terraform-module/terraform-aws-wallarm
	url = https://github.com/wallarm/terraform-aws-wallarm
[submodule "docs/latest-pt-BR/installation/cloud-platforms/aws/terraform-module/terraform-aws-wallarm"]
	path = docs/latest-pt-BR/installation/cloud-platforms/aws/terraform-module/terraform-aws-wallarm
	url = https://github.com/wallarm/terraform-aws-wallarm
[submodule "docs/latest-pt-BR/installation/oob/terraform-module/terraform-aws-wallarm"]
	path = docs/latest-pt-BR/installation/oob/terraform-module/terraform-aws-wallarm
	url = https://github.com/wallarm/terraform-aws-wallarm
[submodule "docs/latest-ar/installation/cloud-platforms/aws/terraform-module/terraform-aws-wallarm"]
	path = docs/latest-ar/installation/cloud-platforms/aws/terraform-module/terraform-aws-wallarm
	url = https://github.com/wallarm/terraform-aws-wallarm
[submodule "docs/latest-ar/installation/oob/terraform-module/terraform-aws-wallarm"]
	path = docs/latest-ar/installation/oob/terraform-module/terraform-aws-wallarm
	url = https://github.com/wallarm/terraform-aws-wallarm
