git+https://${CLONE_INSIDERS_TOKEN}:x-oauth-basic@github.com/wallarm/mkdocs-material-insiders.git
pymdown-extensions==10.3.1
pygments==2.16.1
mkdocs-minify-plugin==0.7.1
prependnewline==1.2
mkdocs-meta-descriptions-plugin==2.3.0
markdown==3.5
importlib_metadata==4.13.0
mkdocs-glightbox==0.3.4
pillow==10.1.0
cairosvg==2.7.1