@import "../../custom/index.css";

.logo {
    background-image: url('../../images/wallarm_logo-en.svg?v=1');
}

.search-results-title {
    text-rendering: optimizeLegibility;
    letter-spacing: .2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
    margin-bottom: 35px;
    opacity: .6;
}