<!-- Determine feedback configuration -->
{% if config.extra.analytics %}
  {% set feedback = config.extra.analytics.feedback %}
{% endif %}

<!-- Determine whether to show feedback -->
{% if page.meta and page.meta.hide %}
  {% if "feedback" in page.meta.hide %}
    {% set feedback = None %}
  {% endif %}
{% endif %}

<!-- Was this page helpful? -->
{% if feedback %}
  <form class="md-feedback" name="feedback" hidden>
    <fieldset>
      <legend class="md-feedback__title">
        {{ feedback.title }}
      </legend>
      <div class="md-feedback__inner">

        <!-- Feedback ratings -->
        <div class="md-feedback__list">
          {% for rating in feedback.ratings %}
            <button
              class="md-feedback__icon md-icon"
              type="submit"
              title="{{ rating.name }}"
              data-md-value="{{ rating.data }}"
            >
            <img src="{{ rating.icon }}">
            </button>
          {% endfor %}
        </div>

        <!-- Feedback rating notes (shown after submission) -->
        <div class="md-feedback__note">
          {% for rating in feedback.ratings %}
            <div data-md-value="{{ rating.data }}" hidden>
              {% set url = "/" ~ page.url %}

              <!-- Determine title -->
              {% if page.meta and page.meta.title %}
                {% set title = page.meta.title | urlencode %}
              {% else %}
                {% set title = page.title | urlencode %}
              {% endif %}
            
              <!-- Replace {url} and {title} placeholders in note -->
              {% set note = rating.note %}

              {% if note %}

                {% set note = note | replace("{url}", url) %}

                {% set note = note | replace("{title}", title) %}

              {% endif %}

              {{ note }}
            </div>
          {% endfor %}
        </div>
      </div>
    </fieldset>

    <div id="feedbackInput" class="feedback-input" style="display: none;">

        <p style="font-weight: bold;">{{ config.extra.analytics.feedback.negative.ask_reason }}</p>

        <div>
            <input type="radio" id="unclear" name="reason" value="unclear" required>
            <label for="unclear">{{ config.extra.analytics.feedback.negative.unclear }}</label>
        </div>
    
        <div>
            <input type="radio" id="missing" name="reason" value="missing" required>
            <label for="missing">{{ config.extra.analytics.feedback.negative.missing }}</label>
        </div>

        <div>
            <input type="radio" id="outdated" name="reason" value="outdated" required>
            <label for="outdated">{{ config.extra.analytics.feedback.negative.outdated }}</label>
        </div>

        <div class="feedback-textarea-div">
          <textarea autocapitalize="off" autocomplete="off" autocorrect="off" name="feedback" placeholder="{{ config.extra.analytics.feedback.negative.ask_reason.input_placeholder }}" rows="3" spellcheck="false"></textarea>
          <p class="character-count">0/240</p>
        </div>

        <div class="feedback-submit-div">
          <button type="button" class="feedback-submit-button">{{ config.extra.analytics.feedback.negative.send_button }}</button>
        </div>
    </div>
  </form>

  <style>

      .md-feedback {
          background-color: #F1F3F5;
          padding: 15px;
      }

      [data-md-color-scheme="slate"] .md-feedback {
        background-color: #242528;
      }
      
      .feedback-input {
          cursor: default;
          text-align: left;
          flex-direction: column;
      }

      .feedback-input p {
          margin-top: 6px;
          margin-bottom: 6px;
      }

      .feedback-textarea-div {
        display: flex;
        flex-direction: column;
      }

      .feedback-input textarea {
          resize: none;
          width: 100%;
          border-radius: 4px;
          border: 1px solid #DBE0E7;
          transition: border-color 0.3s ease;
          margin-top: 16px;
          font-family: Inter;
      }

      .feedback-input textarea:focus-visible {
          border-color: #FC7303;
          outline: none;
      }

      .feedback-input .character-count {
        text-align: right;
        color: #959dac;
        font-size: 10px;
        margin-top: unset;
      }

      .feedback-submit-div {
        display: flex;
        justify-content: flex-end;
      }

      .md-feedback__icon img {
          border: none;
          width: 29px;
          height: 29px;
          transition: transform 0.3s;
      }

      .md-feedback__icon img:hover {
          transform: scale(1.2);
      }

      .feedback-input input[type="radio"] {
          display: none;
      }
      
      .feedback-input input[type="radio"] + label::before {
          content: "";
          display: inline-block;
          width: 15px;
          height: 15px;
          margin-right: 10px;
          border-radius: 50%;
          border: 1px solid #DBE0E7;
          vertical-align: middle;
          transition: all 0.3s ease;
          background-color: #FFFFFF;
      }

      [dir="rtl"] .feedback-input input[type="radio"] + label::before {
        margin-right: 0px;
        margin-left: 10px;
      }

      input[type="radio"]:checked + label::before {
          background-color: #FC7303;
          border: 4px solid #F2E9E2;
      }

      .feedback-submit-button:disabled {
          background-color: #ccc;
          color: #888;
          cursor: not-allowed;
      }

      .feedback-submit-button:disabled:hover {
        background-color: #ccc;
      }

      .feedback-submit-button {
          border-radius: 4px;
          border: none;
          background-color: #FEF6E5;
          color: #FC7303;
          cursor: pointer;
          padding: 6px 12px;
          display: block;
          transition: all 0.3s ease;
          width: 58px;
          height: 32px;
          font-size: 14px;
      }

      .feedback-submit-button:hover {
          background-color: #F6C09C;
      }

  </style>

{% endif %}
