<!-- Application header -->
<header class="md-header" data-md-component="header">

    <!-- Top-level navigation -->
    <nav class="md-header__inner md-grid" aria-label="{{ lang.t('header') }}">
  
      <!-- Link to home -->
      <a
        href="https://wallarm.com"
        class="md-header__button md-logo"
        aria-label="{{ config.site_name }}"
      >
        {% include "partials/logo.html" %}
      </a>

      <div class="back-wallarmcom">Open wallarm.com</div>
  
      <!-- Button to open drawer -->
      <label class="md-header__button md-icon" for="__drawer">
        {% include ".icons/material/menu" ~ ".svg" %}
      </label>
  
      <!-- Header title -->
      <div class="md-header__title" data-md-component="header-title">
        {% if config.site_name == page.title %}
          <div class="md-header__ellipsis md-ellipsis">
            {{ config.site_name }}
          </div>
        {% else %}
          <div class="md-header__ellipsis">
            <span class="md-header__topic md-ellipsis">
              <a href="/">{{ config.site_name }}</a>
            </span>
            <span class="md-header__topic md-ellipsis">
              {% if page and page.meta and page.meta.title %}
                {{ page.meta.title }}
              {% else %}
                {{ page.title }}
              {% endif %}
            </span>
          </div>
        {% endif %}
      </div>

      {% if "i18n" in config.plugins %}
      <div style="margin-left: 10px; margin-right: 10px;">
          {% include "partials/i18n_languages.html" %}
      </div>
      {% endif %}

      <!-- Button to open search dialogue -->
      {% if "material/search" in config.plugins %}
      <label class="md-header__button md-icon" for="__search">
        {% include ".icons/material/magnify.svg" %}
      </label>
      
      <!-- Search interface -->
      {% include "partials/search.html" %}
      {% endif %}
    
      <!-- Demo button -->
      <a href="https://us1.my.wallarm.com/signup?utm_source=wallarm_docs&utm_medium=button&utm_campaign=wallarm_docs_experiment_2" class="demo-button desktop-button">
        Try for free
      </a>

      <a href="https://us1.my.wallarm.com/signup?utm_source=wallarm_docs&utm_medium=button&utm_campaign=wallarm_docs_experiment_2" class="demo-button mobile-button">
        Try for free
      </a>
    </nav>
  </header>