<!-- Application header -->
<header class="md-header" data-md-component="header">

    <!-- Top-level navigation -->
    <nav class="md-header__inner md-grid" aria-label="{{ lang.t('header') }}">

      <!-- Link to home -->
      <a
        href="https://docs.wallarm.com"
        class="md-header__button md-logo"
        aria-label="{{ config.site_name }}"
      >
        {% include "partials/logo.html" %}
      </a>

      <!-- Button to open drawer -->
      <label class="md-header__button md-icon" for="__drawer">
        {% include ".icons/material/menu" ~ ".svg" %}
      </label>

      <!-- Header title -->
      <div class="md-header__title" data-md-component="header-title">
        {% if config.site_name == page.title %}
          <div class="md-header__ellipsis md-ellipsis">
            {{ config.site_name }}
          </div>
        {% else %}
          <div class="md-header__ellipsis">
            <span class="md-header__topic md-ellipsis">
              <a href="/">{{ config.site_name }}</a>
            </span>
            <span class="md-header__topic md-ellipsis">
              {% if page and page.meta and page.meta.title %}
                {{ page.meta.title }}
              {% else %}
                {{ page.title }}
              {% endif %}
            </span>
          </div>
        {% endif %}
      </div>

      <!-- Button to open search dialogue -->
      {% if "material/search" in config.plugins %}
      <label class="md-header__button md-icon" for="__search">
        {% include ".icons/material/magnify.svg" %}
      </label>

      <!-- Search interface -->
      {% include "partials/search.html" %}
      {% endif %}

      <div class="header-buttons">
      <!-- Playground button -->
        <a href="https://tour.playground.wallarm.com/?utm_source=wallarm_docs_button" class="button playground-button desktop-button">
          {{ config.theme.playground_button_name }}
        </a>

        <!-- Demo button -->
        <a href="https://us1.my.wallarm.com/signup/?utm_source=wallarm_docs&utm_medium=button&utm_campaign=wallarm_docs_signup_head" class="button signup-button desktop-button">
          {{ config.theme.try_button_name }}
        </a>
      </div>

      <div id="languagesDiv" class="languages">
        <button type="button" id="languagesMain" class="languages-main" onClick="languageClicked(event)">
            {{ config.theme.language_name }}
          <svg class="languages-drop" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2.25" fill="none">
            <path d="M8 10.5L12 14.5L16 10.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          </button>
          <div id="languagesList" style="display: none;" class="languages-list" tabindex="-1">
            <a href="" onClick="goToLanguage(event, '{{ config.theme.language_lowercase }}', 'en')">English</a>
            <a href="" onClick="goToLanguage(event, '{{ config.theme.language_lowercase }}', 'ja')">Japanese</a>
            <a href="" onClick="goToLanguage(event, '{{ config.theme.language_lowercase }}', 'tr')">Turkish</a>
            <a href="" onClick="goToLanguage(event, '{{ config.theme.language_lowercase }}', 'pt-br')">Portuguese (BR)</a>
            <a href="" onClick="goToLanguage(event, '{{ config.theme.language_lowercase }}', 'ar')">Arabic</a>
          </div>
      </div>
    </nav>
  </header>
