:root {
    --md-primary-fg-color:               #4745ba;
  
    /* Accent color shades */
    --md-accent-fg-color:                #FC7303;
    --md-accent-fg-color--transparent:   #FC7303;
    --md-accent-bg-color:                #FC7303;
    --md-accent-bg-color--light:         #FC7303;
  }
.md-typeset h1 {
    line-height: 1.3;
}

.md-typeset h2 {
    font-size: 1.4em;
    line-height: 1.3;
}

.md-typeset h3 {
    font-size: 1.2em;
    line-height: 1.4;
}

.md-typeset h4 {
    font-size: 1em;
    line-height: 1.4;
}

.md-typeset h5 {
    font-size: .8em;
    line-height: 1.4;
}

.md-typeset {
  line-height: 1.5;
  font-size: 16px;
}

.admonition {
  font-size: 14px;
}

.md-typeset code {
  font-size: 14px;
}

.md-nav__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.md-typeset .tabbed-content>.codehilite:only-child pre>code, .md-typeset .tabbed-content>.codehilitetable:only-child>code, .md-typeset .tabbed-content>.highlight:only-child pre>code, .md-typeset .tabbed-content>.highlighttable:only-child>code {
  white-space: pre-wrap;
}

.md-search__form {
  border-radius: 3px;
}

.demo-button  {
  background-color: #FC7303; /* Green */
  border: none;
  color: white;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  padding: 0 15px;
  margin: 0.3rem 0.5em;
  border-radius: 3px;
  text-decoration: none;
  line-height: 1.8rem;
}

@media screen and (min-width: 601px) {
  .mobile-button  {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .desktop-button  {
    display: none;
  }
}

.video-wrapper {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.video-wrapper > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.versions {
  margin-bottom: 16px;
  margin-left: .6rem;
  position: inherit;
}

.versions-main {
  border-style: solid;
  background-color: #FFFF;
  border-color: rgba(149, 157, 172, 0.24);
  border-radius: 4px;
  border-width: 1px;
  padding: 6px 12px;
  margin-top: 0.625em;
  font: inherit;
  cursor: pointer;
  min-width: 137.422px;
  transition: all 0.3s ease;
}

.versions-list {
  background-color: #FFFF;
  box-shadow: 0px 1px 8px rgba(149, 157, 172, 0.4);
  border-radius: 4px;
  position: absolute;
  padding: 8px 0px;
  min-width: 137.422px;
}

.divider {
  display: block;
  margin: 8px 1px;
}

.versions-main:hover {
  border-color: #FC7303;
}

.versions-main:focus {
  outline:0;
}

.versions-list:focus {
  outline:0;
}

.versions-list a {
  display: block;
  padding: 10px 12px;
  transition: all 0.3s ease;
}

.versions-list a:hover {
  background-color: #F7F7F8;
}

.versions-main-active {
  border-color: #FC7303;
}

.versions-main-active .versions-drop {
  transform: rotate(-180deg);
}

.versions-drop {
  transition: transform 0.24s cubic-bezier(0.24,0.1,0.24,1);
  vertical-align: middle;
  margin-left: 8px;
}

@media screen and (max-width: 1219px) {
  .versions  {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0px;
  }
  .versions-main {
    width: 100%;
    border-color: #FC7303;
    text-align: left;
  }
  .versions-drop {
    float: right;
    transition: none;
  }
  .versions-list {
    width: 100%;
    z-index: 1;
  }
  .versions-main-active .versions-drop {
    transform: none;
  }
}

.md-typeset__table code {
  white-space: nowrap;
}

code:focus {
  outline: 0;
}

.services-status-common {
  padding: .4rem 0;
  margin: auto .6rem;
  font-size: .64rem;
}
.md-footer-copyright {
  flex: 1 1 100%;
  padding: 0 0 .4rem 0;
  margin-bottom: .6rem;
}

.md-footer-meta__inner.md-grid {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
