{% extends "main.html" %}

{% block content %}
  {{ super() }}

  <p>Wallarm Advanced WAF protects websites, APIs, and microservices from OWASP Top 10, bots, and application abuse with no manual rule configuration and ultra‑low false positives.</p>

  <div class="navigation">
    <a href="./quickstart-en/qs-install-node-en/" class="navigation-card">
        <h3>Quick start</h3>
        <p>Deploy your first WAF node with the NGINX module in 20 minutes</p>
    </a>
    <a href="./about-wallarm-waf/overview/" class="navigation-card">
        <h3>About Wallarm WAF</h3>
        <p>Learn Wallarm WAF features, architecture, and supported platforms</p>
    </a>

    <a href="./admin-en/supported-platforms/" class="navigation-card">
        <h3>Installation</h3>
        <p>Select the platform and quickly deploy your first WAF node to existing infrastucture</p>
    </a>
    <a href="./admin-en/configure-parameters-en/" class="navigation-card">
        <h3>Configuration</h3>
        <p>Customize deployed WAF node settings to get the most out of Wallarm WAF for your company</p>
    </a>  

    <a href="./api/overview/" class="navigation-card">
        <h3>Wallarm API</h3>
        <p>Learn how to use Wallarm API to extend WAF node functionality</p>
    </a>
    <a href="./user-guides/user-intro/" class="navigation-card">
        <h3>Operating WAF via UI</h3>
        <p>Track and operate the system security state and WAF node together with your team via the Wallarm Console</p>
    </a>  

    <a href="./updating-migrating/what-is-new/" class="navigation-card">
        <h3>Updating and migrating</h3>
        <p>Learn new WAF node features and keep your modules up-to-date</p>
    </a>
    <a href="./attacks-vulns-list/" class="navigation-card">
        <h3>Attack and vulnerability types</h3>
        <p>Learn which attacks and vulnerabilities WAF node detects</p>
    </a>
  </div>

{% endblock %} 