{% extends "main.html" %}

{% block content %}
  {{ super() }}

  <p>Wallarm API Security protects websites, APIs, and microservices from OWASP Top 10, bots, and application abuse with no manual rule configuration and ultra‑low false positives.</p>

  <div class="admonition info"> <p class="admonition-title">Update available</p> <p>We recommend updating Wallarm API Security modules to the latest product version with supported <a href="../updating-migrating/what-is-new/">new features</a>. To update your version, please follow the <a href="../updating-migrating/general-recommendations/">node update process</a>.</p> </div>

  <div class="navigation">
    <a href="../updating-migrating/what-is-new/" class="navigation-card">
        <h3>Updating to the latest version</h3>
        <p>Learn new features in node 2.18 and apply changes to installed components</p>
    </a>

    <a href="./quickstart-en/qs-install-node-en/" class="navigation-card">
        <h3>Quick start</h3>
        <p>Deploy your first Wallarm node with the NGINX module in 20 minutes</p>
    </a>
    <a href="./about-wallarm-waf/overview/" class="navigation-card">
        <h3>About Wallarm</h3>
        <p>Learn Wallarm API Security features, architecture, and supported platforms</p>
    </a>

    <a href="./admin-en/supported-platforms/" class="navigation-card">
        <h3>Installation</h3>
        <p>Select the platform and quickly deploy your first Wallarm node to existing infrastucture</p>
    </a>
    <a href="./admin-en/configure-parameters-en/" class="navigation-card">
        <h3>Configuration</h3>
        <p>Customize deployed node settings to get the most out of Wallarm API Security for your company</p>
    </a>  

    <a href="./api/overview/" class="navigation-card">
        <h3>Wallarm API</h3>
        <p>Learn how to use Wallarm API to extend Wallarm node functionality</p>
    </a>
    <a href="./user-guides/user-intro/" class="navigation-card">
        <h3>Using Wallarm</h3>
        <p>Track and operate the system security state and Wallarm node together with your team via the Wallarm Console</p>
    </a> 

    <a href="./attacks-vulns-list/" class="navigation-card">
        <h3>Attack and vulnerability types</h3>
        <p>Learn which attacks and vulnerabilities Wallarm API Security detects</p>
    </a>
  </div>

{% endblock %}